.bg-primary {
    background-color: #5f5c5f !important; /* Use !important to override any other styles */
  }
.table {
    border-collapse: separate;
    border-spacing: 0;
  }
  .table th,
  .table td {
    border: none;
    padding: 15px;
  }
  .table tbody tr {
    transition: all 0.3s ease;
  }
  .table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
  .btn-outline-info,
  .btn-outline-danger {
    border-width: 2px;
    transition: all 0.3s ease;
  }
  .btn-outline-info:hover,
  .btn-outline-danger:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .pagination .page-link {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
  }
  .pagination .page-item.active .page-link {
    background-color: #5f5c5f;
    border-color: #5f5c5f;
  }
  .card {
    overflow: hidden;
    border: none;
  }